<br>

<% if (username !== "") { %>
  <%= username %>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } else { %>
  <form action="/login" method="POST">
    <input id="username" type="text" name="username" placeholder="username">
    <input type="submit" value="Submit">
  </form>
<% } %>

<h1>TinyApp</h1>

<br>

<a href="../urls">My URL's</a>
<a href="../urls/new">Add URL</a>

<br><br>

<style type="text/css">
  body {
    padding: 0 30px;
  }
  input.btn {
    margin-top: 10px;
  }
</style>
