<br>

<% if (isUserLoggedIn === true) { %>

  <% for (var key in users) { %>
    <% if (users.hasOwnProperty(key)) { %>
      <% if (key === currentUser) { %>
        <%= users[key].name %>
      <% } %>
    <% } %>
  <% } %>

  <form action="/logout" method="POST" class="form-inline">
    <input type="submit" value="Logout" class="btn btn-primary">
  </form>

<% } else { %>

  <a href="../register">Register</a>
  <a href="../login">login</a>

<% } %>

<h1>TinyApp</h1>

<br>

<a href="../urls">My URL's</a>
<a href="../urls/new">Add URL</a>

<br><br>

<style type="text/css">
  body {
    padding: 0 30px;
  }
  input.btn {
    margin-top: 10px;
  }
</style>
