<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" />
</head>
<body>

  <% include partials/_header %>
  <h2>Update Url</h2><br>
  <ul class="list-group">
    <li class="list-group-item">
    <a href="<%= link %>" target="_blank">http://localhost:8080/<%= shortURL %></a>
      <form method="POST" action="/urls/<%= shortURL %>/update">
        <input id="updatedLongURL" type="text" name="updatedLongURL" placeholder="<%= link %>" class="form-control form-control-sm"><br>
        <input type="submit" value="Update" class="btn btn-primary">
      </form>
    </li>
  </ul>

</body>
</html>
