<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <% include partials/_header %>

  <% if (isUserLoggedIn === false) { %>
    <p>Please register or login to view urls</p>
  <% } %>

  <% if (isUserLoggedIn === true) { %>
    <ul class="list-group">
    <% for (var key in currentUserUrls) { %>
        <% if (currentUserUrls.hasOwnProperty(key)) { %>
          <li class="list-group-item">
            <h3>Tiny URL: <%= key %> - <%= currentUserUrls[key] %></h3>
            <a href="urls/<%= key %>" class="btn btn-primary">Update</a>
            <form method="POST" action="/urls/<%= key %>/delete">
              <input type="submit" value="Delete" class="btn btn-primary">
            </form>
          </li>
        <% } %>
      <% } %>
    </ul>
    <% if (currentUserHasUrls === false) { %>
       <p>No urls yet.</p>
    <% } %>
  <% } %>
</body>
</html>
