<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" />
  </head>
  <body>
    <% include partials/_header %>
    <h2>Add Url</h2><br>
    <form action="/urls" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder="http://" class="form-control"><br>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
  </body>
</html>
