<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.css" />
</head>
<body>
  <% include partials/_header %>

  <h2>Register</h2><br>

  <form action="/register" method="POST" class="form-inline">
    <input id="name" type="text" name="name" placeholder="name" class="form-control"><br><br>
    <input id="email" type="email" name="email" placeholder="email" class="form-control"><br><br>
    <input id="password" type="password" name="password" placeholder="password" class="form-control"><br><br>
    <input type="submit" value="Register" class="btn btn-primary">
  </form>
</body>
</html>
