<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
  <% include partials/_header %>

  <h2>Login</h2><br>

  <form action="/login" method="POST" class="form-inline">
    <input id="email" type="email" name="email" placeholder="email" class="form-control"><br><br>
    <input id="password" type="password" name="password" placeholder="password" class="form-control"><br><br>
    <input type="submit" value="Login" class="btn btn-primary">
  </form>
</body>
</html>
