<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <% include partials/_header %>
  <ul>
  <% for (var key in urls) { %>
      <% if (urls.hasOwnProperty(key)) { %>
        <% if (key === shortURL) { %>
          <li><%= urls[key] %> - <%= key %></li>
        <% } %>
      <% } %>
    <% } %>
  </ul>
</body>
</html>
